.text-area {
	 -fx-background-image: url("Resources/start_background.png"); 
	 -fx-background-repeat: no-repeat;
	
	 -fx-text-fill: #191970;
	 -fx-highlight-fill: #FFFFFF; 
	 -fx-highlight-text-fill: #191970;
	 -fx-alignment: center;	  
     -fx-focus-color: #FFFFFF;
     -fx-faint-focus-color: #FFFFFF;
     -fx-text-box-border: #FFFFFF;
     -fx-shadow-highlight-color: white; 
     -fx-border-insets: 1, 1 1 1 1;     
}


.text-area:focused .content {
    -fx-background-color: #FFFFFF;
    -fx-control-inner-background: #FFFFFF;
    -fx-faint-focus-color: #FFFFFF;
    }

.separator:horizontal .line {
	-fx-border-color: #FFFFFF;
	-fx-text-box-border: #FFFFFF;
    -fx-shadow-highlight-color: #FFFFFF; 
    -fx-border-insets: 1, 1 1 1 1;
}

.button {
	 -fx-font: 20px "Serif";
	 -fx-text-fill: #FF0000;
	 -fx-font-weight: bold;
	 -fx-border: 0;
	 -fx-background-color: #FFFFFF;
}

.button:hover, .button:selected {
	-fx-background-color: #FF0000;
	-fx-text-fill: #FFFFFF;
}

.text-area {
	 -fx-font: 16px "Serif";
	 -fx-text-fill: #FF0000;
}

.root{
    -fx-base: #FFFFFF;
    -fx-background: #FFFFFF;
}